<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class=" w-full min-h-screen bg-zinc-900 text-white p-10">
        <div class="flex items-start gap-3">
            <div class="w-10 h-10 rounded-md overflow-hidden">
              <img class=" w-full h-full object-cover" src="/images/uploads/<%= post.user.profilepic %>" alt="">
            </div>
            <h3 class="text-2xl"> <span class="font-light mt-2 ">Hello !! </span><%= post.user.name %>👻</h3>
          </div>
       <h5 class=" mb-5">You can Update your post here !!</h5>
       <form action="/update/<%= post._id %>" method="post">
        <textarea placeholder="What's on your mind ??" name="content" class=" block p-3 w-1/4 resize-none bg-transparent border-2 border-zinc-800 outline-none rounded-md"><%= post.content %></textarea>
        <input type="submit" class=" text-black block mt-2 w-40 text-sm  bg-yellow-500 rounded-md px-3 py-2" value="Update Post">
       </form>
       </div>
    </div>
</body>
</html>